<div class="backDoor">
        <div class="door">Laura
          <div id="hart" onclick="hart()">
            <div id="cerc1" class="ronde"></div>
            <div id="cerc2" class="ronde"></div>
            <div id="romb"></div>
          </div>
        </div>
        <button id="introBtn"><a href="home.html">Click me</a>
            </button>
      </div>