body{
    background-image: url(indexImage.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}
@media (max-width:920px) {
  body{
  background-size:auto;
}}
.backDoor
{

background-image: url(Laura3ani.jpeg);
background-size: contain;
background-repeat: no-repeat;
position:relative;
width:200px;
height:270px;
box-shadow: -5px -5px 20px 5px white, 5px 5px 20px 5px blue;
margin:0 auto;
margin-top: 15%;

}
@media (max-width:920px) {
.backDoor{
margin-top: 55%;
}
}
.door
{
font-family: "Sofia", sans-serif;
font-size: 26px;
padding-top: 20px;
background-color: rgb(4, 4, 66);
position:absolute;
top:0px;
left:0px;
width:200px;
height:250px;
box-shadow: -5px -5px 20px 5px white, 5px 5px 20px 5px blue;
transform-origin: left;
/*Speed of the Door animation*/
transition: all 2.5s ease-in-out;
color:white;
text-align: center;
border-style: ridge;
border-width: 2px;
border-color: black;
}
.door:hover{
cursor: pointer;
}

.doorOpen
{
/*prespectiv creates the door open effect*/
transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
#hart {
width: 80px;
display: flex;
flex-wrap: wrap;
animation: loadingHart 1.5s infinite;
transform-origin: 30px;
position: fixed;
top: 46%;
left: 47.5%;
}
@keyframes loadingHart {
0%{transform: scale(1.5);}
13%{transform: scale(1);}
26%{transform: scale(1.5);}
39%{transform: scale(1);
}87%{transform: scale(1);
}100%{transform: scale(1.5);
}
}

@media (max-width:420px){
#hart {
top: 56%;
left: 45.5%;
}
}


.ronde{
border-radius: 50%;
width: 30px;
height: 30px;
background-color: rgb(17, 4, 133);
}

#cerc1 {
margin-left: 10px;
margin-right: -10px;
}

#romb {
width: 30px;
height: 30px;
background-color: rgb(17, 4, 133);
transform:rotate(45deg);
margin-left: 20px;
margin-top: -20px;
}

#introBtn:hover{
background-color: rgb(4, 4, 66);
}

#introBtn a:hover{
color: white;
}